fastapi==0.115.0
uvicorn[standard]==0.30.6

# Database
SQLAlchemy==2.0.34
#psycopg2-binary==2.9.9

# Password hashing
passlib[bcrypt]==1.7.4

# JWT / Authentication
python-jose==3.3.0

# Environment variables
python-dotenv==1.0.1

# Optional utilities
alembic==1.13.2   # database migrations
pydantic==2.9.2   # data validation (FastAPI uses this)
